{% extends 'base.html' %}
{% block main %}
<header>
    <h1><span class="badge" style="background-color: #4a3e2e; padding: 10px 15px; border-radius: 10px;">Орешки.Поддержка</span></h1>
</header>
    <div class="card mb-3" style="max-width: 1200px;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">Спасибо за обращение!</h1>
            <h2 class="card-text">Мы постараемся как можно скорее ответить на ваши вопросы. Ожидайте.</h2>
            <p class="card-text"><small class="text-body-secondary">График работы поддержки с 9:00 до 21:00 ( вс - выходной )</small></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}